


/* Pagination noktalarının stilini ayarla */
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1;
  width: 10px; /* Küçük nokta boyutu */
  height: 10px;
  margin: 0 4px !important; 
}

/* Aktif noktanın stilini ayarla */
.swiper-pagination-bullet-active {
  background-color: white !important; /* Aktif nokta rengi */
  transform: scale(1.2); /* Aktif noktayı biraz büyüt */
}

@media (max-width: 652px) {
  .custom-hidden {
    display: none;
  }
}
