/* Pagination'ın sadece noktaların etrafında olması için */
.swiper-pagination {
  display: inline-flex !important; /* Pagination sadece noktalar kadar geniş olacak */
  justify-content: center; /* Noktaları hizala */
  align-items: center;
  gap: 5px; /* Noktalar arasındaki mesafe */
  background-color: rgba(0, 0, 0, 0.3); /* Hafif siyah saydam arka plan */
  border-radius: 20px; /* Hafif yuvarlak hatlar */
  padding: 5px 15px; /* Noktaların çevresindeki boşluk */
  position: absolute;
display:flex; 

  bottom: 10px;
  transform: translateX(-50%);
  z-index: 10;
  width: 0px;
  height:30px;
  min-width: fit-content; /* İçeriğe göre genişlik ayarla */
}

/* Pagination noktalarının stilini ayarla */
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1;
  width: 10px; /* Küçük nokta boyutu */
  height: 10px;
  margin: 0 4px !important; 
}

/* Aktif noktanın stilini ayarla */
.swiper-pagination-bullet-active {
  background-color: white !important; /* Aktif nokta rengi */
  transform: scale(1.2); /* Aktif noktayı biraz büyüt */
}
